In [22]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [2]:
os.getcwd()

'/disk2/Semester_5/Big_Data/Project/Repository/UE18CS322-Big-Data-Mini-Project/src/Analytics'

In [3]:
RR_FOLDER_NAME = "Round-Robin"
rr_jobs = pd.read_csv(os.path.join(f"{RR_FOLDER_NAME}", "jobs.csv"))
rr_tasks = pd.read_csv(os.path.join(f"{RR_FOLDER_NAME}", "tasks.csv"))
rr_tasks["TaskID"] = rr_tasks["TaskID"].astype(str)

rr_workers_tasks = pd.read_csv(os.path.join(f"{RR_FOLDER_NAME}", "workers.csv"))
rr_workers_tasks["TaskID"] = rr_workers_tasks["TaskID"].astype(str)

In [4]:
rr_jobs.head()

   JobID    start_time      end_time  duration
0      3  1.606864e+09  1.606864e+09  2.870033
1      5  1.606864e+09  1.606864e+09  2.426442
2      1  1.606864e+09  1.606864e+09  5.022451
3      0  1.606864e+09  1.606864e+09  6.254915
4      2  1.606864e+09  1.606864e+09  6.032045

In [5]:
rr_tasks.head()

   JobID TaskID    start_time      end_time  duration
0      0   0_M2  1.606864e+09  1.606864e+09  0.031140
1      0   0_M1  1.606864e+09  1.606864e+09  1.041750
2      1   1_M2  1.606864e+09  1.606864e+09  0.024608
3      0   0_M0  1.606864e+09  1.606864e+09  3.079931
4      1   1_M0  1.606864e+09  1.606864e+09  1.910388

In [6]:
rr_workers_tasks.head()

   JobID  WorkerID TaskID    start_time      end_time
0      0         3   0_M2  1.606864e+09  1.606864e+09
1      0         2   0_M1  1.606864e+09  1.606864e+09
2      1         3   1_M2  1.606864e+09  1.606864e+09
3      0         1   0_M0  1.606864e+09  1.606864e+09
4      1         1   1_M0  1.606864e+09  1.606864e+09

In [7]:
rr_workers_tasks.dtypes

JobID           int64
WorkerID        int64
TaskID         object
start_time    float64
end_time      float64
dtype: object

In [8]:
rr_jobs.dtypes

JobID           int64
start_time    float64
end_time      float64
duration      float64
dtype: object

In [9]:
rr_tasks.dtypes

JobID           int64
TaskID         object
start_time    float64
end_time      float64
duration      float64
dtype: object

## mean and median task and job completion times

In [10]:
print(f"Mean task completion time: {rr_tasks.duration.mean()}")
print(f"Median task completion time: {rr_tasks.duration.median()}")

Mean task completion time: 1.827139174938202
Median task completion time: 1.6892112493515015

In [11]:
print(f"Mean job completion time: {rr_jobs.duration.mean()}")
print(f"Median job completion time: {rr_jobs.duration.median()}")

Mean job completion time: 5.169074249267578
Median job completion time: 5.420117497444153

In [13]:
START_TIME = rr_workers_tasks.start_time.min()
END_TIME = rr_workers_tasks.end_time.max()

START_TIME, END_TIME

(1606863807.119388, 1606863818.4180934)

In [28]:
ROW_COUNT_INDEX = 0

# SECOND_IN_REALITY = 1606863807.119388
# rr_workers_tasks.loc[(rr_workers_tasks.start_time <= SECOND_IN_REALITY) & (SECOND_IN_REALITY <= rr_workers_tasks.end_time)].shape[ROW_COUNT_INDEX]
TASK_ALIVE_COUNT = dict()
TIME_RESOLUTION = 1
WORKER_ID_LIST = rr_workers_tasks.WorkerID.unique().tolist()

for SECOND_IN_REALITY in np.arange(START_TIME - 1, END_TIME + 1, step=TIME_RESOLUTION,  dtype=np.float64):
    TASK_ALIVE_COUNT[SECOND_IN_REALITY] = rr_workers_tasks.loc[(rr_workers_tasks.start_time <= SECOND_IN_REALITY) &
                                                               (SECOND_IN_REALITY <= rr_workers_tasks.end_time)]\
                                                               .shape[ROW_COUNT_INDEX]
TASK_ALIVE_COUNT

{1606863806.119388: 0,
 1606863807.119388: 1,
 1606863808.119388: 2,
 1606863809.119388: 7,
 1606863810.119388: 12,
 1606863811.119388: 9,
 1606863812.119388: 10,
 1606863813.119388: 13,
 1606863814.119388: 9,
 1606863815.119388: 8,
 1606863816.119388: 6,
 1606863817.119388: 4,
 1606863818.119388: 1,
 1606863819.119388: 0}

In [29]:
task_alive_df = pd.DataFrame.from_dict(TASK_ALIVE_COUNT, orient='index')

task_alive_df

               0
1.606864e+09   0
1.606864e+09   1
1.606864e+09   2
1.606864e+09   7
1.606864e+09  12
1.606864e+09   9
1.606864e+09  10
1.606864e+09  13
1.606864e+09   9
1.606864e+09   8
1.606864e+09   6
1.606864e+09   4
1.606864e+09   1
1.606864e+09   0